@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 67% 94%;
    --foreground: 231 48% 15%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 50% 88%;
    --secondary-foreground: 231 48% 15%;
    --muted: 228 50% 88%;
    --muted-foreground: 231 48% 40%;
    --accent: 45 100% 51%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 80%;
    --input: 231 40% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 22% 20%;
    --foreground: 225 67% 94%;
    --card: 231 22% 23%;
    --card-foreground: 225 67% 94%;
    --popover: 231 22% 20%;
    --popover-foreground: 225 67% 94%;
    --primary: 225 67% 94%;
    --primary-foreground: 231 48% 15%;
    --secondary: 231 22% 28%;
    --secondary-foreground: 225 67% 94%;
    --muted: 231 22% 28%;
    --muted-foreground: 225 67% 80%;
    --accent: 45 100% 51%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 22% 28%;
    --input: 231 22% 28%;
    --ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
